{% extends 'layout.html' %}
{% load static %}
{% block import-css %}
<style>
	
	#data_uji_table tr th:last-child, #data_uji_table tr td:last-child{
		white-space: nowrap;
		width: 1%;
	}
	
</style>
{% endblock import-css %}
{% block content %}
<div class="content-wrapper">
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Data Cleaning</h1>
				</div>
				

			</div>
		</div>
	</div>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card card-info">
						<div class="card-body">
							<table id="data_uji_table" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>Id</th>
										<th>Raw data</th>
										<th>Cleaned Data</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content %}
{% block import-js %}
<script>

	$(document).ready(function() {

		data_uji_datatable = $("#data_uji_table").DataTable({
			"ajax": {
				"url": "{% url 'cleaning/cleaning' %}",
				"dataSrc": "cleaned_data_uji"
			},
			"columns": [
			{ "data": "id" },
			{ "data": "raw_data" },
			{ "data": "cleaned_data" },
			],
			

		});
	});

</script>
{% endblock import-js %}