{% extends 'layout.html' %}
{% load static %}
{% block import-css %}
<style>

#kosakata_table tr th:last-child, #kosakata_table tr td:last-child{
	white-space: nowrap;
	width: 1%;
}

</style>
{% endblock import-css %}
{% block content %}
<div class="content-wrapper">
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Daftar Kamus</h1>
				</div>
				<div class="col-sm-6">
					<button type="button" id="show_modal_insert" class="btn btn-primary float-right">Tambah Kamus</button>
				</div>

			</div>
		</div>
	</div>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card card-info">
						<div class="card-body">
							<table id="kosakata_table" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>Id</th>
										<th>Kata</th>
										<th>Arti kata</th>
										<th>Action</th>
									</tr>
								</thead>
								
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="kosakata_modal">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Tambah Data Kamus</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">
				<form id="kosakata_form" method="POST">
					{% csrf_token %}
					<input type="hidden" name="id" id="id" value="">
					<div class="form-group">
						<label for="kata">Kata</label>
						<input type="text" required class="form-control" id="kata" name="kata" >
					</div>
					<div class="form-group">
						<label for="arti_kata">Arti Kata</label>
						<input type="text" required class="form-control" id="arti_kata" name="arti_kata">
					</div>

					<div class="text-center">
						<button type="submit" class="btn btn-block btn-primary mb-3">Simpan Data</button>
						<p>ATAU</p>
					</div>
				</form>
				<button class="btn btn-info btn-block" id="show_import_modal">Import File Excel</button>
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="import_modal">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Import Data Kosakata</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="import_form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-body">
					
					
					<div class="form-group">
						<label for="file">File</label>
						<input type="file" required class="form-control" id="file" name="file" >
					</div>

					<div class="form-check">
						<input type="checkbox" class="form-check-input" name="delete_all_data" id="delete_all_data">
						<label class="form-check-label" for="delete_all_data">Hapus seluruh data?</label>
					</div>
					
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Import data</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<template  id="render-action-button-template">
	<div class="btn-group">
		<button type="button" class="btn btn-outline-secondary show_modal_edit" data-id="place_here"><i class="fas fa-edit"></i></button>
		<button type="button" class="btn btn-outline-danger show_modal_delete" data-id="place_here" ><i class="fas fa-trash"></i></button>
	</div>
</template>
{% endblock content %}
{% block import-js %}
<script>

$(document).ready(function() {


	$(document).on('click', 'button#show_modal_insert', function() {
		clean_kosakata_form();
		$("#kosakata_modal").modal('show');
	});


	$(document).on('click', 'button.show_modal_edit', function(e) {
		showSpinner();
		var id_kosakata = $(this).data('id');
		$.ajax({
			url: "{% url 'kosakata/json_single_kosakata' %}",
			type: 'POST',
			dataType: 'json',
			data: {id: id_kosakata},
		})
		.done(function(response) {

			$("input#id").val(response.id);
			$("input#kata").val(response.kata);
			$("input#arti_kata").val(response.arti_kata);

			$("#kosakata_modal").modal('show');
			hideSpinner();
		});

	});


	$(document).on('click', 'button.show_modal_delete', function(e) {

		var id_kosakata = $(this).data('id');
		Swal.fire({
			icon : 'warning',
			title : 'Hapus data',
			text : 'Yakin ingin menghapus data?',
			allowOutsideClick: false,
			showCancelButton: true,
			confirmButtonText: 'Hapus',
			cancelButtonText: 'Jangan',

		})
		.then((res) => {
			if (res.value) {
				showSpinner();
				$.ajax({
					type: "POST",
					url: "{% url 'kosakata/delete_kosakata' %}",
					dataType: 'json',
					data: {id : id_kosakata},
				})
				.done(function(response) {
					if (!response.success) {

					} else {
						kamus_datatable.ajax.reload(null, false);
						Swal.fire({icon: 'success', showConfirmButton: false, timer: 1000})
					}
				})

				
			}
		} );


		
	});


	$(document).on('click', 'button#show_import_modal', function(e) {
		$("#kosakata_modal").modal('hide');
		$("#import_modal").modal('show');
	});

	$(document).on('submit', 'form#kosakata_form', function(e) {
		showSpinner();
		e.preventDefault();
		var data = $(this).serialize();
		var id_kosakata = $("input#id").val();
		var url = generate_url(id_kosakata)
		$.ajax({
			type: "POST",
			url: url,
			dataType: 'json',
			data: data,
		})
		.done(function(response) {
			if (response.success == true) {

				clean_kosakata_form();
				$("#kosakata_modal").modal('hide');
				kamus_datatable.ajax.reload(null, false);
				hideSpinner();
			}
		});
	});

	$(document).on('submit', 'form#import_form', function(e) {
		showSpinner();
		e.preventDefault();
		var data = new FormData(this);

		var url = "{% url 'kosakata/import_kosakata' %}"
		$.ajax({
			type: "POST",
			url: url,
			dataType: 'json',
			data: data,
			cache: false,
			contentType: false,
			processData: false
		})
		.done(function(response) {
			if (response.success == true) {
				$("#import_modal").modal('hide');
				$("input#file").val('');
				kamus_datatable.ajax.reload(null, false);
			}
		})
		.always(function() {
			hideSpinner();
		});
	});


	kamus_datatable = $("#kosakata_table").DataTable({
		"processing": true,
		"serverSide": true,
		"ajax": "{% url 'kosakata/datatables_kosakata' %}",
		"columns": [

		{ "data": "id" },
		{ "data": "kata" },
		{ "data": "arti_kata" },
		{ "data": null },
		],
		"columnDefs": [ {
			"targets": -1,
			"data": null,
			"sortable": false,
			"render" : function(data, type, row) {
				return render_edit_delete_button2(row['id']);
			}
		} ]
		

	});
});


function clean_kosakata_form() {
	$("input#id").val('');
	$("input#kata").val('');
	$("input#arti_kata").val('');
}
function generate_url(id) {
	var url = "{% url 'kosakata/insert_kosakata' %}";
	if (id) {
		url = "{% url 'kosakata/update_kosakata' %}";
	}
	return url
}
function render_edit_delete_button(id) {
	var button_edit = '<button type="button" class="show_modal_edit btn btn-warning" data-id="'+id+'">Edit</button>';
	var button_delete = '<button type="button" class="show_modal_delete btn btn-danger" data-id="'+id+'">Delete</button>';
	html = button_edit + " "+ button_delete;
	return html
}

function render_edit_delete_button2(id) {
	let tmpl = $("#render-action-button-template").html();
	tmpl = tmpl.replace('place_here', id);
	tmpl = tmpl.replace('place_here', id);

	return tmpl;

}
</script>
{% endblock import-js %}