{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="content-wrapper">
	<div class="content-header">
		
	</div>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">

						<!-- /.card-header -->
						<div class="card-body">
							<p class="text-bold">Selamat Datang di Sistem Normalisasi Bahasa Makassar</p>
							<p>Sistem ini merupakan implementasi dari penelitian yang berjudul "Normalisasi Bahasa Makassar". Ada beberapa menu yang terdapat pada sistem ini, antara lain:</p>
							<dl class="row">
								<dt class="col-sm-4">Kamus</dt>
								<dd class="col-sm-8">Menu kamus merupakan menu yang menampilkan seluruh data kamus. data kamus digunakan untuk proses preprocessing hingga normalisasi. Terdapat proses tambah data kamus secara manual atau dapat juga melakukan import data secara massal menggunakan file berekstensi .xlsx dengan format column dimulai dari nomor;kata;arti kata. Selanjutnya data kamus dapat diubah ataupun dihapus.</dd>
								<dt class="col-sm-4">Data Uji</dt>
								<dd class="col-sm-8">Pada menu ini pengguna dapat melihat data uji, menambah data uji secara manual atau melalui import data berekstensi .xlsx dengan format column nomor;data uji, merubah data uji, serta menghapus data. Seluruh data uji yang dimasukkan akan digunakan untuk proses normalisasi.</dd>
								<dt class="col-sm-4">Cleaning</dt>
								<dd class="col-sm-8">Menu berikutnya adalah cleaning. Apabila pengguna mengakses menu ini, maka sistem akan melakukan proses preprocessing terhadap seluruh data uji dan menampilkan hasil preprocessing kedalam bentuk table.</dd>
								<dt class="col-sm-4">Normalisasi Data Uji</dt>
								<dd class="col-sm-8">Menu pengujian data uji menampilkan seluruh data uji dan pada setiap data uji terdapat satu tombol normalisasi. Ketika pengguna menekan tombol normalisasi, maka sistem akan melakukan proses normalisasi. Hasil normalisasi akan ditampilkan sistem sesaat setelah sistem selesai melakukan proses normalisasi.</dd>
							</dl>
						</div>
						<!-- /.card-body -->
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
{% endblock content %}